body {
    background-color: lightgoldenrodyellow;
}
* {
    font-family: Tahoma;
}

main section aside p {
    font-family: Courier;
    color: white;
    background-color: olive;
    border: darkolivegreen solid .5px;
}

h1 {
    color: darkolivegreen;
}

p {
    color: olive;
}

header ul li {
    list-style-type: none;
    display: inline;
    font-size: 10pt;
}

.dates {
    text-align: right;
    font-size: 10pt;
}
